body {
    background-color: black;

}

h1, h2, h3, p {
    
    text-align: center;
    color:chocolate;    
}
.images {
    height: 300px;
    width: 300px;
    image-rendering: pixelated;
}
 h4 {
    text-align: center;
    color:crimson
 }
